<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.pastleo.sctid" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".SctidIMEService"
            android:label="@string/input_name"
            android:permission="android.permission.BIND_INPUT_METHOD" >
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />

            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
        </service>

        <activity
            android:name=".SCRecieverActivity"
            android:label="@string/title_activity_screciever"
            android:theme="@style/Theme.Transparent" >
        </activity>
    </application>

    <!-- Permission for using NFC hardware -->
    <uses-permission android:name="android.permission.NFC"/>
    <!-- Forcing device to have NFC hardware -->
    <uses-feature android:name="android.hardware.nfc" android:required="true"/>
    <!-- Registering app for receiving NFC's TAG_DISCOVERED intent -->
    <intent-filter>
        <action android:name="android.nfc.action.TAG_DISCOVERED"/>
        <category android:name="android.intent.category.DEFAULT"/>
    </intent-filter>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>
